---
layout: archive
---

<style>
.list__item {
    padding-right: 100px;
}

@media (min-width: 64em)
.list__item {
    padding-right: 100px;
}
@media (min-width: 48em)
.list__item {
    padding-right: 50px;
}
</style>

<h2>Logan Blackstad</h2>

<font size=.5em>This is some text!</font>

Hello! I'm Logan - a Business Intelligence and Data Analyst. Throughout my career, I’ve used my background in engineering operations and data analysis to
bring a value-add solutions to complex business problems.



<style>
div.a {
  font-size: 1em;
}

div.b {
  font-size: 2em;
}
</style>

</head>
<body>
<h1>The font-size Property</h1>

<div class="a">This is some text.</div>

<div class="b">This is some text.</div>
