---
layout: archive
---

<style>
.list__item {
    padding-right: 100px;
}

@media (min-width: 64em)
.list__item {
    padding-right: 100px;
}
@media (min-width: 48em)
.list__item {
    padding-right: 50px;
}
</style>

<h1>Logan Blackstad</h1>

<style>
div.a {
  font-size: .75em;
}

div.b {
  font-size: 1em;
  display: inline
}


</style>

<body>

<div class="b"><b>Hello!</b></div><div class="a"> I'm Logan - a Business Intelligence and Data Analyst. Throughout my career, I’ve used my background in engineering operations and data analysis to bring a value-add solutions to complex business problems.

</div>

</body>
